.hidden {
  display: none !important;
}

.container {
  width: 90%;
  margin-bottom: 2rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.stats-line {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.column-full {
  flex-basis: 100%;
}

.column-half {
  flex-basis: 100%;
}

.column-quarter {
  flex-basis: 50%;
}

.column-fifth {
  flex-basis: 50%;
}

.column-eighth {
  flex-basis: 25%;
}

.column-45 {
  flex-basis: 45%;
}

.column-55 {
  flex-basis: 55%;
}

.column-fluid {
  flex-basis: 25%;
}

.no-margin {
  margin: 0;
}

@media only screen and (min-width: 568px) {
  .column-full {
    flex-basis: 100%;
  }

  .column-half {
    flex-basis: 100%;
  }

  .column-quarter {
    flex-basis: 25%;
  }

  .column-fifth {
    flex-basis: 25%;
  }
}

@media only screen and (min-width: 768px) {
  .column-full {
    flex-basis: 100%;
  }

  .column-half {
    flex-basis: 100%;
  }

  .column-quarter {
    flex-basis: 25%;
  }

  .column-fifth {
    flex-basis: 20%;
  }
}

@media only screen and (min-width: 1200px) {
  .column-full {
    flex-basis: 100%;
  }

  .column-half {
    flex-basis: 50%;
  }

  .column-quarter {
    flex-basis: 25%;
  }

  .column-fifth {
    flex-basis: 20%;
  }

  .column-eighth {
    flex-basis: calc(100% / 8);
  }

  .column-fluid {
    flex-basis: auto;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
}
