.hidden {
  display: none;
}

.container {
  max-width: 90%;
  margin: 0 auto 2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex {
  display: flex;
}

.stats-line {
  justify-content: space-between;
  width: 95%;
}

.column-full {
  flex-basis: 100%;
}

.column-half {
  flex-basis: 100%;
}

.column-third {
  flex-basis: calc(100% / 3);
}

.column-quarter {
  flex-basis: 50%;
}

.column-fifth {
  flex-basis: 50%;
}

.column-40 {
  flex-basis: 40%;
}

.column-60 {
  flex-basis: 60%;
}

@media only screen and (width > 768px) {
  .column-full {
    flex-basis: 100%;
  }

  .column-half {
    flex-basis: 50%;
  }

  .column-third {
    flex-basis: calc(100% / 3);
  }

  .column-quarter {
    flex-basis: 25%;
  }

  .column-fifth {
    flex-basis: 20%;
  }
}
