.header-background {
  background-color: rgb(130, 0, 0);
  padding-bottom: 2rem;
}

.title {
  margin: 0;
  padding: 1rem;
  color: white;
  font-family: "Fredoka One", sans-serif;
  letter-spacing: 1px;
}

.pokemon-card {
  border: 2px solid rgb(185, 185, 185);
  border-radius: 0.5rem;
  background-color: rgb(244, 244, 244);
  width: 90%;
  height: 30vh;
  margin: 2rem auto 0;
  box-shadow: 0 3px 4px rgb(179, 179, 179);
}

.pokemon-card:hover {
  cursor: pointer;
}

.pokeball-background {
  background-image: url("/images/pokeball-blur-2.png");
  background-size: contain;
  background-position: center;
  margin: 0.5rem auto 0.75rem;
  background-repeat: no-repeat;
}

.pokemon-img {
  width: 80%;
}

.pokemon-number,
.pokemon-name {
  text-align: center;
  font-family: Fredoka, sans-serif;
  font-weight: 500;
}

.detail-background {
  height: 25vh;
}

.detail-top-border {
  height: 5.5rem;
  width: 100%;
}

.circle {
  background-color: white;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  margin-left: 1.5rem;
}

.detail-img {
  width: 10rem;
  height: 10rem;
}

.detail-number {
  padding-top: 2rem;
  font-family: Fredoka, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
}

.detail-name {
  font-family: Fredoka, sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

.type-1,
.type-2 {
  display: inline-block;
  margin-top: 0;
  font-family: Fredoka, sans-serif;
  font-size: 0.75rem;
  width: 3.5rem;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  border-radius: 0.35rem;
  text-align: center;
  box-shadow: 0 3px 4px rgb(179, 179, 179);
}

.type-2 {
  margin-left: 0.5rem;
}

.side-spacer {
  width: 100%;
}

.detailed-view {
  padding-top: 5rem;
  font-size: 1.25rem;
}

.height {
  padding-bottom: 1rem;
}

.weight {
  padding-bottom: 2rem;
}

.flavor-text {
  line-height: 1.25rem;
  padding-bottom: 1.5rem;
}

.abilities {
  padding-bottom: 1.25rem;
}

.item-header {
  font-family: Fredoka, sans-serif;
  font-weight: 500;
}

.stats-line > p {
  margin: 0.25rem 0;
}

.hp-bar,
.attack-bar,
.defense-bar,
.sp-attack-bar,
.sp-defense-bar,
.speed-bar {
  background: linear-gradient(to right, rgb(152, 219, 100) 20%, rgb(226, 226, 226) 20%);
  width: 95%;
  height: 1.25rem;
  border-radius: 0.25rem;
  position: relative;
}

.bar-padding {
  padding-top: 1.25rem;
}

.evolutions {
  padding-top: 1.25rem;
}

.evolution-image {
  width: 100%;
}

.evolution-name {
  text-align: center;
}

.xmark {
  font-size: 1.5rem;
  color: white;
  padding-top: 0.75rem;
  padding-left: 0.75rem;
}

@media only screen and (width > 768px) {
  .header-background {
    padding-bottom: 0;
  }

  .title {
    font-size: 3rem;
  }

  .pokemon-card {
    height: 20rem;
    width: 85%;
  }

  .pokemon-number {
    padding-top: 0.5rem;
    font-size: 1.25rem;
  }

  .pokemon-name {
    padding-top: 0.5rem;
    font-size: 1.5rem;
  }

  .description {
    padding-right: 2rem;
    font-size: 1.5rem;
  }

  .detail-top-border {
    height: 4rem;
  }

  .circle {
    width: 15rem;
    height: 15rem;
    margin-left: 8rem;
  }

  .detail-img {
    width: 15rem;
    height: 15rem;
  }

  .detailed-view {
    padding-top: 10rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .detail-number {
    font-size: 1.75rem;
  }

  .detail-name {
    font-size: 2.75rem;
  }

  .xmark {
    font-size: 2.5rem;
    padding-top: 1.25rem;
    padding-left: 1.25rem;
  }
}
